@for $i from 1 through 20 {
  .abs-left#{$i} {
    position: absolute;
    left: 16px * $i;
  }
}

@for $i from 1 through 20 {
  .abs-right#{$i} {
    position: absolute;
    right: 16px * $i;
  }
}

.game-container {
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  .game-table {
    width: 800px;
    height: 537px;
    background-image: url('@/assets/img/mapleOneCard.Board.backgrnd.png');
  }

  .card-previous {
    width: 75px;
    height: 112px;

    position: absolute;

    left: 364px;
    top: 215px;
  }

  .cards-deck {
    position: absolute;

    left: 167px;
    top: 225px;
  }

  .clickNormals {
    position: absolute;

    left: 212px;
    top: 212px;
  }

  .btn_start {
    position: absolute;

    left: 375px;
    top: 265px;
  }

  .flames {
    .flame {
      width: 59px;
      height: 63px;
      position: absolute;
    }

    .flame1 {
      left: 388px;
      top: 126px;
    }
    .flame2 {
      left: 451px;
      top: 144px;
    }
    .flame3 {
      left: 494px;
      top: 190px;
    }
    .flame4 {
      left: 509px;
      top: 250px;
    }
    .flame5 {
      left: 494px;
      top: 313px;
    }
    .flame6 {
      left: 451px;
      top: 356px;
    }
    .flame7 {
      left: 388px;
      top: 375px;
    }
    .flame8 {
      left: 318px;
      top: 356px;
    }
    .flame9 {
      left: 275px;
      top: 313px;
    }
    .flame10 {
      left: 260px;
      top: 250px;
    }
    .flame11 {
      left: 275px;
      top: 190px;
    }
    .flame12 {
      left: 318px;
      top: 144px;
    }
  }

  .boards {
    .MyCharacterSlot {
      width: 165px;
      height: 100px;
      position: absolute;
      left: 16px;
      top: 424px;

      .board {
        width: 157px;
        height: 92px;
        position: absolute;
        left: 3px;
        top: 4px;

        z-index: 10;
      }

      .backlight {
        z-index: 1;
      }

      .myturn {
        z-index: 11;
        position: absolute;

        left: 64px;
        top: 58px;
      }

      .otherTurn {
        z-index: 11;
        position: absolute;

        left: 64px;
        top: 58px;
      }

      .myname {
        font-size: 16px;
        z-index: 11;
        position: absolute;

        left: 64px;
        top: 35px;
      }
    }

    .top-left {
      left: 16px;
      top: 143px;
    }
    .top-right {
      left: 614px;
      top: 143px;
    }
    .bottom-right {
      left: 614px;
      top: 424px;
    }

    .OtherCharacterSlot {
      width: 165px;
      height: 80px;
      position: absolute;
      z-index: 2;

      .board {
        width: 155px;
        height: 70px;
        position: absolute;
        left: 5px;
        top: 5px;

        z-index: 10;
      }

      .backlight {
        z-index: 1;
      }

      .myturn {
        z-index: 11;
        position: absolute;

        left: 65px;
        top: 38px;
      }

      .otherTurn {
        z-index: 11;
        position: absolute;

        left: 65px;
        top: 38px;
      }

      .othername {
        font-size: 16px;
        z-index: 11;
        position: absolute;

        left: 66px;
        top: 15px;
      }
    }
  }

  .mycards-container {
    display: flex;
    position: absolute;
    left: 190px;
    top: 428px;

    .my-card {
      position: absolute;

      .cardDisabledImage {
        position: absolute;
        object-fit: contain;
        width: auto;
        height: 92px;
      }
      .card-myturn {
        object-fit: contain;
        width: auto;
        height: 92px;
      }
    }
    .my-card:hover {
      // transform: scale(1) translateY(0); /* 悬浮时放大并上移 */
      z-index: 50; /* 悬浮时提高z-index值 */
    }
  }

  .othercards-container {
    &-top-left {
      display: flex;
      position: absolute;
      left: 66px;
      top: 100px;
    }

    &-top-right {
      display: flex;
      position: absolute;
      left: 512px;
      top: 100px;
    }

    &-bottom-right {
      display: flex;
      position: absolute;
      left: 512px;
      top: 360px;
    }

    .my-card {
      position: absolute;

      .card-myturn {
        object-fit: contain;
        width: auto;
        height: 92px;
      }
    }
  }
}
